@import "../../styles/baseline.scss";

.quotes {
    margin-top: 1rem;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;

    &__slider {
        margin: 0;
        transition: 0.3s ease;
        overflow: hidden;

        &--animation {
            transition-duration: all 1s ease;
        }
    }

    &__slide {
        width: 730px;
        display: flex;
        height: 360px;
        flex-direction: row;
        justify-content: space-between;
        transition: border-color 0.3s ease;
        transition: background-color 0.3s ease;
        @include theme-aware('border-color', 'content-outline');
        @include theme-aware('background-color', 'system-background-secondary');
        border: 1px solid;
        border-radius: 20px;
        padding: 2.8rem 2rem;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        margin: 2rem 1rem;

        @include tablet {
            margin: 2rem 3rem;
            padding: 2.8rem 4rem;
            height: auto;
        }
    }

    &__button {
        background-color: transparent;
        outline: none;
        border: none;
        position: absolute;
        align-self: center;
        padding: auto;
        height: 60px;
        width: 30px;
        border-radius: 8px;
        z-index: 60;
        @include theme-aware('background', 'carousel-button');
        opacity: 0.4;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;

        &--left {
            left: 0;   
        }

        &--right {
            right: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        @include theme-aware('fill', 'accent');

        &--flip {
            transform: scaleX(-1);
        }
    }

    &__takeaway {
        margin-bottom: 0.5rem;
    }

    &__octicons {
        height: 24px;
        margin-bottom: 20px;
        @include theme-aware('fill', 'accent');
    }

    &__content {
        display: block;
        height: 300px;

        @include tablet {
            height: 240px;
        }
    }

    &__category {
        font-weight: bold;
    }

    &__caption {
        margin-bottom: 0.5rem;
        @include theme-aware('color', 'color-nav');
    }

    &__dots {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        justify-content: center;
        bottom: 0;
        z-index: 60;
        height: 3px;

        & > button {
            border-radius: 200px;
            border: none;
            margin-right: 2px;

            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}

.carousel {

    &__dot {
        @include theme-aware('background', 'content-outline');

        &:hover {
            @include theme-aware('background', 'color-paragraph');
            cursor: pointer;
        }

        &--selected {
            @include theme-aware('background', 'accent');
        }
    }
}