.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #afafaf;
    border-top: solid 1px #afafaf;
    padding: 1.5rem 350px;
    position: fixed;
}