.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    z-index: 100;
    transform: translateY(0);
    transition: transform 0 ease;
    background-color: rgba($color: #ffffff, $alpha: 0.0);
    //box-shadow: rgba(0, 0, 0, 0) 0px 10px 20px;
    margin-top: 83px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    &.shadow {
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        //box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
    }

    &__container {
        width: 1000px;
        margin: 0 auto;
    }

    &__action {
        display: flex;
        flex-direction: row;
        opacity: 1.0;

        &:hover {
            opacity: 0.5;
        }
    }

    &__back {
        padding-left: 5px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}