@import "../../styles/baseline.scss";

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    z-index: 100;
    transform: translateY(0);
    transition: transform 0 ease;
    margin-top: 83px;
    @include theme-aware('border-bottom', 'content-outline-light');
    @include theme-aware('border-top', 'content-outline-light');
    @include theme-aware('background', 'system-background-primary');
    transition: border-bottom-color 0.3s ease;
    transition: border-top-color 0.3s ease;
    transition: background-color 0.3s ease;
    //border-top: 1px solid #F4F4F4;
    //border-bottom: 1px solid #F4F4F4;

    &--project {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: fixed;
        z-index: 100;
        transform: translateY(0);
        transition: transform 0 ease;
        margin-top: 83px;
        transition: border-bottom-color 0.3s ease;
        transition: border-top-color 0.3s ease;
        transition: background-color 0.3s ease;
    }

    &.shadow {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        transform: translateY(0);
        transition: transform 1s ease;
        animation: myanimation 1s;

        @keyframes myanimation {
            0% {
                box-shadow: rgba(0, 0, 0, 0) 0px 10px 20px;
            }
            35% {
                box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px;
            }
            100% {
                box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
            }
        }
    }

    &__container {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-items: middle;
    }

    &__action {
        display: flex;
        flex-direction: row;
        opacity: 1.0;

        &:hover {
            opacity: 0.5;
        }
    }

    &__back {
        @include theme-aware('color', 'link');
        padding-left: 8px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;

        &--shadow {
            color: #2e2e2e
        }
    }
}

.Modal {
    position: absolute;
    overflow-y:auto;
    background-color: white;
    top:50%;
    left:50%;
    right:auto;
    bottom:auto;
    z-index: 1000;
    border-radius:10px;
    transform:translate(-50%,-50%);
    width: 600px;
    height: 600px;
    padding: 50px;
}

.Overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 600;
    background: rgba(0, 0, 0, .5);
    display: flex;
    width: 100vw;
    height: 100vh;
}