.project {
    margin: 0;
    width: 100vw;

    &__container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 1000px;
        padding-top: 280px;
    }

    &__nav {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 230px;
        margin-right: 70px;
        position: sticky;
        top: 240px;
        height: calc(100vh - 280px);
        overflow: scroll;
    }

    &__links {
        padding-inline-start: 0px;
    }

    &__content {
        margin: 0;
        width: 730px;
    }

    &__block {
        margin-bottom: 50px;
 
        & > h1 {
            margin-bottom: 2rem;
        }

        & > p,
        & > h2,
        & > h3 {
            margin-bottom: 1rem;
        }
    }

    &__process {
        font-weight: bold;
        padding-bottom: 10px;
    }

    &__link {
        opacity: 0.5;

        &:hover {
            opacity: 1.0;
            cursor: pointer;
        }
    }

    &__tester {
        color: white;
        position: absolute;
        z-index: 300;
    }

    &__code {
        width: 150px;
        height: 44px;
        background-color: black;
        border-radius: 12px;
        margin-top: 20px;
        padding: 0 20px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__github {
        color: white;
    }

    &__icon {
        width: 24px;
        height: 24px;
        background-color: white;
        border: 1px solid black;
    }

    &__image {
        width: 730px;
    }

    &__video {
        height: 582px;
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;

        &--overlay {
            position: absolute;
            height: 630px;
            padding: 0 auto;
            width: 730px;
        }
    }
}