@import "../../styles/baseline.scss";

.project {
    margin: 0;
    width: 100vw;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');

    &__container {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 200px;

        @include tablet {
            margin: 0 60px;
            padding-top: 280px;
            display: flex;
            flex-direction: row;
        }

        @include laptop-small {
            margin: 0 100px;
        }

        @include laptop {
            margin: 0 auto;
            width: 1000px;
        }
    }

    &__nav {
        display: none;

        @include laptop-small {
            margin: 0;
            display: flex;
            flex-direction: column;
            width: 230px;
            //margin-right: 70px;
            position: sticky;
            top: 240px;
            height: calc(100vh - 280px);
            overflow: scroll;
        }

        @include laptop {
            margin-right: 70px;
        }
    }

    &__links {
        padding-inline-start: 0px;
    }

    &__content {
        margin: 0;
        width: 100%;

        @include laptop-small {
            width: 60vw;
        }
        
        @include laptop {
            width: 730px;
        }
    }

    &__block {
        margin-bottom: 100px;
 
        & > h1 {
            margin-bottom: 1rem;
        }

        & > p,
        & > h2,
        & > h3 {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__process {
        font-weight: bold;
        padding-bottom: 10px;
    }

    &__link {
        opacity: 0.5;

        &:hover {
            opacity: 1.0;
            cursor: pointer;
        }
    }

    &__tester {
        color: white;
        position: absolute;
        z-index: 300;
    }

    &__code {
        width: 150px;
        height: 44px;
        background-color: black;
        border-radius: 12px;
        margin-top: 20px;
        padding: 0 20px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__github {
        @include theme-aware('color', 'color-text-static');
    }

    &__icon {
        width: 24px;
        height: 24px;
        background-color: white;
        border: 1px solid black;
    }

    &__image {
        width: 100%;
        margin: 2rem 0;
    }

    &__video {
        height: 582px;
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;

        &--overlay {
            position: absolute;
            height: 630px;
            padding: 0 auto;
            width: 730px;
        }
    }

    &__hmw {
        text-align: center;
        padding-top: 20px;
        font-weight: bold;
        color: #FD2D55;
    }

    &__question {
        text-align: center;
        padding-bottom: 80px;
    }

    &__wordmark {
        width: 70%;
        margin: 60px auto;
        display: flex;
        @include theme-aware('fill', 'menu');

        @include tablet {
            width: 50%;
        }
    }

    &__external-link {
        @include theme-aware('color', 'link');
    }

    &__deliverable {
        width: 100%;
        margin: 100px 0;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        border: 1px solid;
        @include theme-aware('border-color', 'content-outline');
        border-radius: 8px;
    }
}