@import "../../styles/baseline.scss";

.hamburger {
    display: flex;
    z-index: 1008;
    height: 16px;
    justify-content: space-between;
    flex-direction: column;
    padding: auto 0;
    align-self: center;

    &.active  {
        justify-content: space-around;
    }

    @include tablet {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }


    &__top {
        @include theme-aware('background', 'menu');
        height: 3px;
        width: 28px;
        border-radius: 8px;

        &.active {
            position: absolute;
            margin-right: 20px;
            right: 0;
            transition: transform 0.3 ease;
            transform: rotate(45deg);
        }

        &.inactive {
            transition: transform 0.3 ease;
            transform: rotate(0deg);
        }
    }

    &__bottom {
        @include theme-aware('background', 'menu');
        height: 3px;
        width: 28px;
        border-radius: 8px;

        &.active {
            position: absolute;
            margin-right: 20px;
            right: 0;
            transition: transform 0.3 ease;
            transform: rotate(-45deg);
        }

        &.inactive {
            transition: transform 0.3 ease;
            transform: rotate(0deg);
        }
    }
}

.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 1000;
    width: 80%;
    margin: auto;
    position: relative;
    height: 65vh;
    opacity: 1;

    &__header {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: bold;
    }

    &__list {
        margin-bottom: 2rem;

        & > li {
            padding: 1rem 0rem;
            //border-bottom: 1px solid;
            @include theme-aware('border-color', 'content-outline-light');
            transition: 0.3s ease;
            flex-direction: row;
            display: flex;

            & > li:nth-last-child() {
                border-bottom: none;
            }
        }
    }

    &__icon {
        height: 20px;
        margin-right: 1rem;
        padding: auto 0;
        align-self: center;
    }

    &__link {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: bold;
        transition: color 0.3s ease;
        @include theme-aware('color', 'color-text');
        width: 100%;

        &--contact {
            transition: color 0.3s ease;
            @include theme-aware('color', 'color-text-button');
            @include theme-aware('background-color', 'button');
            padding: 0.825rem 1rem;
            text-align: center;
        }
    }

    &__sublink {
        width: 100%;
        display: flex;
    }

    @include tablet {
        display: none;
    }

    &__contact {
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: auto;
        display: flex;
    }

    &__toggle {
        position: absolute;
    }

    &__expand {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__dropdown {
        display: flex;
        width: 100%;
        flex-direction: column;
        border-left: 2px solid;

        @include theme-aware('border-color', 'content-outline-light');
        padding-left: 2rem;

        & > li {
            margin: 0.5rem 0;
            width: 100%;
        }
    }

    &__drop {
        transition: 0.2s ease 0s;
        width: 14px;
        height: 14px;
        margin: auto 0;

        &--active {
            @include theme-aware('fill', 'dropdown');
            transition: 0.2s ease 0s;
            transform: scaleY(-1);
            opacity: 1;
            padding: 0px 0px 0px 4px;
        }

        &--inactive {
            @include theme-aware('fill', 'dropdown');
            opacity: 0.5;
            transition: 0.2s ease 0s;
            transform: scaleY(1);
            padding: 2px 0px 0px 4px;
        }
    }
}

.Menu {
    position: fixed;
    overflow-y:auto;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');
    transition: 0.3s ease;
    top:0;
    right:0;
    z-index: 1005;
    margin-top: 50px;
    width: 80%;
    height: 100vh;
    padding: 60px 20px;
    text-align: center;
    outline: none;

    @include tablet {
        display: none;
    }
}

.OverlayNew {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1000;
    background: rgba(0, 0, 0, .7);
    //margin-top: 76px;
    display: flex;
    width: 20vw;
    height: 100vh;

    @include tablet {
        display: none;
    }
}