.degree-card {
    width: 480px;
    height: 480px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: all 0.2s ease 0s;

    &--ux {
        background-image: url();
    }

    &--ios {
        background-image: url();
    }

    &--web {
        background-image: url();
    }

    &--product {
        background-image: url();
    }

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 20px 30px;
        margin-bottom: 10px;
        margin-top: 0px;
        transition: all 0.2s ease 0s;
    }
}