@import "../../styles/baseline.scss";

.selected {
    height: 600px;
    width: 240px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;

    &__preview {
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        align-self: center;
        margin: auto;
        padding: 25px 0px 30px 0px;

        &--video {
            height: 100%;
            width: 85%;
        }

        &--image {
            height: 84%;
            width: 85%;
        }
    }

    &__overlay {
        height: 600px;
        width: 240px;
        position: absolute;
        pointer-events: none;
    }
}