.project-card {
    width: 480px;
    height: 215px;
    border-radius: 15px;
    //background: linear-gradient(45deg,#2E63E9, #7FC0FF); //TouchBase
    //background: linear-gradient(45deg,#2CB977, #3BC786); //SharedSpace
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 30px;
    }

    &__details {
        padding: 50px;
        align-items: center;
        margin: auto 0;
    }

    &__project {
        color: white;
        font-size: 2rem;
        line-height: 2rem;
    }

    &__type {
        color: rgba($color: white, $alpha: 0.6);
        margin-bottom: 20px;
    }

    &__link {
        color: white;
    }

    &__preview {
        position: relative;
        bottom: 40;
        width: 200px;
        height: 600px;
    }

    &__image {
        width: 180px;
        padding-top: 25px;
    }
}

