.project-card {
    width: 480px;
    height: 215px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: all 0.2s ease 0s;

    &--rally {
        background: linear-gradient(45deg,#FD2D55, #ED506F);
    }

    &--touch-base {
        background: linear-gradient(45deg,#2E63E9, #7FC0FF);
    }

    &--shared-space {
        background: linear-gradient(45deg,#2CB977, #3BC786);
    }

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 20px 30px;
        margin-bottom: 10px;
        margin-top: 0px;
        transition: all 0.2s ease 0s;
    }

    &__details {
        padding: 50px;
        align-items: center;
        margin: auto 0;
        position: absolute;
    }

    &__project {
        color: white;
        font-size: 2rem;
        line-height: 2rem;
    }

    &__type {
        color: rgba($color: white, $alpha: 0.6);
        padding-bottom: 20px;
    }

    &__link {
        color: white;
    }

    &__preview {
        position: relative;
        width: 200px;
        height: 600px;
        padding-left: 260px;
    }

    &__image {
        width: 180px;
        padding-top: 25px;
    }
}

