@import "../../styles/baseline.scss";

.share {
    fill: #007AFF;
    height: 25px;

    &:hover {
        cursor: pointer;
    }
}

.Modal {
    position: fixed;
    overflow-y:auto;
    background-color: white;
    top:50%;
    left:50%;
    right:auto;
    bottom:auto;
    z-index: 1000;
    border-radius:10px;
    transform:translate(-50%,-50%);
    width: 550px;
    height: 700px;
    padding: 80px 70px;
    text-align: center;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 20px 30px;
}

.modal {
    margin: 0;

    &__cancel {
        width: 20px;
        position: fixed;
        top: 0;
        margin: 20px 20px 0px 0px;
        right: 0;
        opacity: 0.5;

        &:hover {
            cursor: pointer;
            opacity: 1.0;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__field {
        border-radius: 2px;
        border: 1px solid #e1e1e1;
        height: 44px;
        position: absolute;
        width: 410px;
        outline: none;
        resize: none;
        font-size: 1rem;
        padding: 0.7rem 0.7rem;
        background-color: white;
        transition: transform 1s ease-in-out;

        &:hover {
            cursor: pointer;
            border: 1px solid #00C642;
            background-color: transparent;
            transition: transform 1s ease-in-out;
        }
    }

    &__label {
        @extend h4;
        text-align: left;
        margin-bottom: 5px;
    }

    &__action {
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        //border: 1px solid #007AFF;
        height: 44px;
        padding: 0.8rem 0.8rem;
        justify-content: flex-end;
        width: 410px;
        padding-right: 15px;
        background-color: rgba(0, 255, 85, 0.253);
    }

    &__copy {
        color: #007AFF;
        padding-right: 5px;
    }

    &__icon { 
        width: 15px;
        //position: absolute;
    }
}

.Overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 600;
    background: rgba(0, 0, 0, .7);
    display: flex;
    width: 100vw;
    height: 100vh;
}