@import "../../styles/baseline.scss";

.website {
    width: 700px;
    margin: 0 20px;
    padding: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-around;

    &__preview {
        height: 180px;
        width: 300px;
        //overflow: hidden;
        display: flex;
        align-self: center;
        //padding: auto;
        margin-top: 16px;
        background-color: black;
    }

    &__overlay {
        width: 380px;
        position: absolute;
        overflow: hidden;
        pointer-events: none;
    }
}