.dynamic {
    width: 100vw;
    margin: 50px 0;

    &__container {
        margin: 0 auto;
        display: flex;
        width: 1000px;
        justify-content: space-between;

        &--row {
            flex-direction: row;
            margin-bottom: 30px;
        }

        &--column {
            flex-direction: column;
        }
    }
}