@import "../../styles/baseline.scss";

.dynamic {
    width: 100%;
    padding: 40px 0;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');
    display: block;

    @include tablet {
        padding: 50px 0;
    }

    &__container {
        margin: 0px 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;

        @include tablet {
            margin: 0 60px;
        }

        @include laptop-small {
            margin: 0 100px;
        }

        @include laptop {
            margin: 0 auto;
            width: 1000px;
        }

        &--row {
            flex-direction: column;
            margin-bottom: 30px;

            @include laptop-small {
                flex-direction: row;
            }
        }

        &--column {
            flex-direction: column;
        }
    }
}