@import "../../styles/baseline.scss";

.dynamic {
    width: 100vw;
    padding: 50px 0;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');

    &__container {
        margin: 0 auto;
        display: flex;
        width: 1000px;
        justify-content: space-between;

        &--row {
            flex-direction: row;
            margin-bottom: 30px;
        }

        &--column {
            flex-direction: column;
        }
    }
}