.rally {
    background: linear-gradient(45deg,#FD2D55, #ED506F);
    width: 100vw;
    height: 60vh;
    //transform: rotate(15deg);
    overflow: hidden;

    &__layer {
        position: absolute;
        //top: 400;
        //left: 500;
        //width: 800px;
        padding: 90px 350px;
    }
}