@import "../../styles/baseline.scss";

.side-nav {
    margin-bottom: 20px;
    width: 80%;
    overflow: hidden;

    &__header {
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    &__links {
        padding-inline-start: 0px;
        margin-bottom: 30px;
    }

    &__link {
        transition: 0.3s ease;
        text-decoration: none;
        @include theme-aware('color', 'color-text-alt');

        &.active {
            transition: 0.3s ease;
            font-weight: bold;
            @include theme-aware('color', 'color-text');

            &:hover {
                transition: 0.3s ease;
                font-weight: bold;
                @include theme-aware('color', 'color-paragraph');
            }
        }

        &:hover {
            //opacity: 0.8;
            transition: 0.3s ease;
            cursor: pointer;
            @include theme-aware('color', 'link');
        }

    }
}