$themes: (
    light: (
        system-background-primary: white,
        system-background-secondary: white,
        system-background-tertiary: #F2F3F7,
        seperator-line-opaque: #F2F3F7,
        content-outline: #F2F3F7,
        content-outline-light: #F4F4F4,
        content-outline-mid:#E1E1E1,
        color-text: #1D1D1F,
        color-text-alt: #AFAFAF,
        color-text-button: white,
        color-paragraph: #2E2E2E,
        switch: #53d769,
        link: #0066CC,
        button: rgb(28, 28, 30),
        caret-color: #000000,
        footer: #AFAFAF,
        color-form-header: #AFAFAF
    ),
    dark: (
        system-background-primary: #131313,
        system-background-secondary: #1C1C1E,
        system-background-tertiary: #1C1C1E,
        seperator-line-opaque: #3A3A3C,
        content-outline: #1C1C1E,
        content-outline-light:#1C1C1E,
        content-outline-mid: #1C1C1E,
        color-text: #F5F5F7,
        color-text-alt: #AFAFAF, 
        color-text-button: rgb(28, 28, 30),
        color-paragraph: rgba(255, 255, 255, 0.65),
        switch: #3A3A3C,
        link: #2997FF,
        button: white,
        caret-color: white,
        footer: rgb(28, 28, 30),
        color-form-header: rgba(255, 255, 255, 0.5)
    )
);