@import "../../styles/baseline.scss";

.skill-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    //border-radius: 4px;
    //padding: 15px 20px;
    //margin-bottom: 20px;
    justify-content: space-between;
    //background-color: red;

    &__container {
        display: flex;
        flex-direction: row;
        margin: auto 0;
        width: 100%;
        border-radius: 4px;
        //background-color: #F2F3F7;
    }

    &__details {
        margin-right: auto;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid;
        @include theme-aware('border-bottom-color', 'content-outline');
        width: 100%;
        justify-content: space-between;
        padding: 20px 20px 20px 0px;
    }

    &__image {
        height: 50px;
        margin: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__chevron {
        transform: scaleX(-1);
        margin: auto 0px;
    }

    &__status {
        margin: auto 10px;

        &--Current {
            display: none;
        }

        &--Learning {
            color: #00C642;
            background-color: rgba(0, 255, 85, 0.253);
            padding: 5px 10px;
            border-radius: 4px;
        }

        &--Upcoming {
            color: #8d8d8d;
            background-color: rgba(242, 243, 247, 0.6);
            padding: 5px 10px;
            border-radius: 4px;
        }
    }
}