@import "../../styles/baseline.scss";

.footer {
    width: 100vw;
    margin: 50px 0;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');

    &__container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 1000px;
        padding-top: 50px;
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 300px;
        padding-top: 50px;
        padding-inline-start: 0px;
    }

    &__icon {
        opacity: 0.3;
        width: 25px;
        height: 25px;
        transition: all 0.2s ease 0s;
        @include theme-aware('fill', 'footer');

        &:hover {
            opacity: 1.0;
            transition: all 0.2s ease 0s;
        }
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin: auto;
        padding-top: 20px;
        @include theme-aware('color', 'color-text-alt');
        text-align: center;
        padding-bottom: 200px;
    }
}