@import "../../styles/baseline.scss";

.footer {
    width: 100vw;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'footer-backing');
    @include theme-aware('color', 'color-text-static');

    @include tablet {
        padding: 100px 0px;
    }

    @include laptop {
        padding: 100px;
    }

    &__container {
        margin: 0;
        display: flex;
        flex-direction: column;

        @include tablet {
            margin: 0 100px;
        }

        @include laptop-small {
            margin: 0 100px;
        }

        @include desktop {
            margin: 0 auto;
            width: 1000px;
        }
    }

    &__wordmark {
        display: none;

        & > h3 {
            @include theme-aware('color', 'color-text-static');
        }

        @include laptop {
            display: flex;
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 260px;
        padding-inline-start: 0px;

        @include tablet {
            width: 300px;
            //padding-top: 50px;
            margin: 0;
        }
    }

    &__icon {
        opacity: 0.4;
        width: 25px;
        height: 25px;
        transition: all 0.2s ease 0s;
        @include theme-aware('fill', 'footer-mobile');

        @include tablet {
            transition: all 0.2s ease 0s;
            @include theme-aware('fill', 'footer-mobile');
            width: 20px;
            height: 20px;
        }

        &:hover {
            opacity: 1.0;
            transition: all 0.2s ease 0s;
        }
    }

    &__top {
        display: none;

        @include tablet {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: auto;
            padding-bottom: 60px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            padding-top: 40px;
            border-top: 1px solid;
            margin: auto;
            @include theme-aware('border-color', 'seperator-footer');
        }
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin: auto;
        padding-top: 20px;
        @include theme-aware('color', 'footer-mobile');
        text-align: center;
        padding-bottom: 80px;
        opacity: 0.4;
        position: relative;
        @extend p;

        @include tablet {
            padding: 0px;
            margin: 0;
        }
    }

    &__github {
        text-decoration: none;
        //opacity: 0.6;
        @extend p;
        margin-left: 5px;
        @include theme-aware('color', 'footer-mobile');
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__navigation {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include tablet {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
        padding: 60px 0;

        & > li {
            padding: 1.25rem 2rem;
            width: 100%;
            border-bottom: 1px solid;
            @include theme-aware('border-color', 'seperator-footer');

            &:nth-last-of-type(1) {
                border-bottom: none;
            }
        }
    }

    &__link {
        @include theme-aware('color', 'footer-mobile');
        width: 100%;
        display: flex;
        //font-weight: bold;
        padding-bottom: 10px;

        &--primary {
            margin-top: 34px;
        }
    }

    &__expand {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;

        &:hover {
            cursor: pointer;
        }
    }

    &__category {
        display: flex;
        width: 100%;
    }

    &__dropdown {
        padding-top: 1rem;

        & > li {
            padding: 0.25rem 1rem;
            width: 100%;
        }
    }

    &__sub-link {
        @include theme-aware('color', 'color-text-static');
        //opacity: 0.4;
        width: 100%;
        display: flex;
    }

    &__drop {
        transition: 0.2s ease 0s;
        width: 20px;
        height: 20px;
        margin: auto 0;

        &--active {
            @include theme-aware('fill', 'dropdown');
            transition: 0.2s ease 0s;
            transform: scaleY(-1);
            padding: 0px 0px 0px 4px;
        }

        &--inactive {
            @include theme-aware('fill', 'dropdown');
            transition: 0.2s ease 0s;
            transform: scaleY(1);
            padding: 2px 0px 0px 4px;
        }
    }

    &__links {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-self: flex-end;
        flex-direction: row;

        @include laptop {
            width: 67.5%;
        }
    }

    &__label {
        @include theme-aware('color', 'footer-mobile');
        opacity: 0.4;
        width: 100%;
        display: flex;
        font-size: 1rem;
    }
}