@import "../../styles/baseline.scss";

.mapContainer {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;

    @include desktop {
        width: 1000px;
    }
}

.mapboxgl-control-container {
    display: hidden;
}