@import "../../styles/baseline.scss";

.promo {
    width: 100vw;
    margin: 0;
    margin-bottom: 100px;

    &__container {
        margin: auto 20px;
        display: flex;
        justify-content: space-between;

        @include tablet {
            margin: auto 60px;
        }

        @include laptop-small {
            margin: auto 100px;
        }

        @include laptop {
            margin: auto;
            width: 1000px;
        }

        &--right {
            flex-direction: column;

            @include tablet {
                flex-direction: row-reverse;
            }
        }

        &--left {
            flex-direction: column;

            @include tablet {
                flex-direction: row;
            }
        }
    }

    &__preview {
        height: 500px;
        border-radius: 16px;
        overflow: hidden;
        padding: auto;

        @include tablet {
            height: 500px;
            border-radius: 16px;
            overflow: hidden;
            padding: auto;
        }

        @include laptop-small {
            height: 703px;
            border-radius: 16px;
            overflow: hidden;
            padding-top: 29px;
            padding-left: 116px;
        }
    }

    &__overlay {
        height: 500px;
        position: absolute;
        margin: auto;
        overflow: hidden;

        @include tablet {
            height: 500px;
            border-radius: 16px;
            overflow: hidden;
            padding: auto;
        }

        @include laptop-small {
            height: 730px;
            position: absolute;
            margin: 4px 88px 0px 88px;
            overflow: hidden;
        }
    }

    &__app {
        width: 100%;

        @include tablet {
            width: 45%;
        }
    }

    &__project {
        margin-bottom: 20px;
        font-size: 2.4rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        vertical-align: center;
        margin: auto;
        width: 80vw;

        @include tablet {
            width: 45%;
        }

        @include laptop {
            width: 500px;
        }
    }

    &__description {
        @include theme-aware('color', 'color-text-alt');
        opacity: 0.65;
    }

    &__link {
        width: 150px;
        height: 50px;
        margin-right: 25px;
        display: flex;
        flex-direction: row;

        &--secondary {
            display: none;

            @include laptop-small {
                display: flex;
            }
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        width: 100%;
        align-items: baseline;
    }

    &__redirect {
        height: 34px;
        padding: 10px 0px;
        margin: 8px 0px;
    }

    &__code {
        height: 50px;
        border-radius: 12px;
        text-align: center;
        vertical-align: middle;
        padding: 8px 0;
        color: #007AFF;

        &:hover {
            cursor: pointer;
        }
    }

    &__button {
        width: 150px;
        height: 50px;
        background-color: #2E2E2E;
        border-radius: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 8px 0;

        &:hover {
            cursor: pointer;
        }
    }

    &__toggle {
        display: none;

        @include laptop-small {
            width: 80px;
            height: 80px;
            background-color: transparent;
            border: none;
            outline: none;
            position: absolute;
            display: flex;
            left: 200;
            top: 200;
            margin-top: 620px;
            justify-content: space-around;
        }
    }

    &__player {
        width: 20px;

        &:hover {
            width: 25px;
            cursor: pointer;
        }
    }
}