.main {
    width: 100vw;
    margin: 0;

    &__container {
        width: 1000px;
        height: 100vh;
        margin: 0 auto;
        vertical-align: center;
        padding: auto 0;
        display: flex;
        flex-direction: column;
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding: auto;
    }

    &__actions {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
    }

    &__button {
        width: 200px;
        height: 50px;
    }


    &__cta {
        width: 200px;
        height: 55px;
        background-color: #2E2E2E;
        border-radius: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 0.6rem 0;

        &:hover {
            cursor: pointer;
        }
    }

    &__mission {
        padding-top: 20px;
        color: #afafaf;
        width: 70%;
    }

    &__projects {
        margin-top: 60px;
    }
}