@import "../../styles/baseline.scss";

.hero {
    width: 100vw;
    height: 70vh;

    &__background {
        width: 100vw;
        height: 70vh;
        //-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);

        &-hangout {
            background: linear-gradient(45deg,#FD2D55, #ED506F);
        }

        &-grabdrinks {
            background: linear-gradient(45deg,#F4844A, #F58F47);
        }

        &-getfood {
            background: linear-gradient(45deg,#FACC30, #F4B92D);
        }

        &-beactive {
            background: linear-gradient(45deg,#31C488, #5ECB84);
        }

        &-explore {
            background: linear-gradient(45deg,#4D7FFF, #589AF6);
        }

        &-goout {
            background: linear-gradient(45deg,#8637A6, #D156E8);
        }

        &-beproductive {
            background: linear-gradient(45deg,#EE5BA1, #FB778F);
        }
    }

    &__container {
        position: absolute;
        z-index: 98;
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
        display: flex;
        bottom: 12%;
    }

    &__layer {
        width: 80%;
        align-self: center;
        margin: 0 auto;
        padding: 0 auto;

        @include laptop-small {
            width: 50%;
        }
    }
}