@import "../../styles/baseline.scss";

.hero {
    width: 100vw;
    height: 70vh;
    position: relative;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');

    @include tablet {
        display: none;
    }

    &__container {
        position: absolute;
        z-index: 98;
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
        display: flex;
        top: 20%;
    }
}