@import "../../styles/baseline.scss";

.about {
    margin: 0;
    width: 100vw;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');


    &__container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
        padding-top: 280px;
    }

    &__section {
        margin: 0;

        &--profile {
            width: 400px;
            height: 400px;
        }

        &--bio {
            width: 500px;
        }
    }

    &__header {
        margin-bottom: 30px;
    }

    &__content {
        margin-bottom: 30px;
    }

    &__profile {
        width: 400px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        position: absolute;
        z-index: 20;

        &:hover {
            cursor: pointer;
        }
    }

    &__backing {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        position: absolute;
        z-index: 19;
        border: 8px solid #2e2e2e; 
        //background-color: #2e2e2e;
        margin-top: 250px;
        margin-left: 250px;
        transform: 15deg;
    }
}