@import "../../styles/baseline.scss";

.about {
    margin: 0;
    width: 100vw;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');

    &__container {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 120px;

        @include tablet {
            margin: 0 60px;
            padding-top: 280px;
            display: flex;
            flex-direction: row;
        }

        @include laptop-small {
            margin: 0 100px;
        }

        @include laptop {
            margin: 0 auto;
            width: 1000px;
        }
    }

    &__section {
        margin: 0;

        &--profile {
            width: 100%;
            margin-right: 100px;

            @include tablet {
                margin-right: 60px;
            }

            @include laptop-small {
                width: 400px;
                height: 400px;
                margin-right: 100px;
            }
        }

        &--bio {
            width: 100%;
            margin-top: 50px;

            @include tablet {
                margin-top: 0px;
                min-width: 60%;
            }

            @include laptop-small {
                width: 500px;
                min-width: 500px;
            }
        }
    }

    &__header {
        margin-bottom: 30px;
    }

    &__content {
        margin-bottom: 30px;
    }

    &__profile {
        width: 100%;
        border-radius: 15px;
        margin-top: 30px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        //position: absolute;
        //z-index: 20;

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0px;
        }

        @include laptop {
            width: 400px;
        }
    }

    &__backing {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        position: absolute;
        z-index: 19;
        border: 8px solid #2e2e2e; 
        margin-top: 250px;
        margin-left: 250px;
        transform: 15deg;
    }
}