.filter {
    margin: 0;
    width: 100%;
    position: sticky;
    top: 240px;
    height: calc(100vh - 240px);
    overflow: scroll;

    &__container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: 2px solid #F2F2F7;
        width: 60%;
    }

    &__form {
        margin: 0;
        justify-content: space-between; 
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__input {
        width: 300px;
        height: 44px;
        border-radius: 4px;
        border: 2px solid #F2F2F7;
    }

    &__header {
        font-weight: bold;
    }

    &__selections {
        display: flex;
        flex-direction: column;
    }

    &__checkbox {
        padding: 5px 0px;
    }

    &__label {
        margin-right: 10px;
    }

    &__reset {
        color: blue;

        &:hover {
            cursor: pointer;
        }
    }
}