@import "../../styles/baseline.scss";

.skills {
    margin: 0;
    width: 100vw;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    @include theme-aware('color', 'color-text');


    &__container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
        padding-top: 280px;
    }

    &__header {
        font-weight: bold;
    }

    &__content {
        justify-content: space-between;

        &--filter {
            width: 230px;
            margin: 0;
            position: sticky;
            top: 240px;
            height: calc(100vh - 280px);
            overflow: scroll;
        }

        &--skills {
            width: 730px;
        }
    }

    &__overview,
    &__block {
        margin-bottom: 4rem;

        & > h1,
        & > p {
            margin-bottom: 2rem;
        }

        & > h2,
        & > h3 {
            margin-bottom: 1rem;
        }
    }

    &__button {
        width: 150px;
        height: 50px;
        background-color: #2E2E2E;
        border-radius: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 8px 0;

        &:hover {
            cursor: pointer;
        }
    }

    &__links {
        padding-inline-start: 0px;
        padding-bottom: 20px;
    }

    &__category {
        margin-left: 5px;
    }

    &__buttons {
        display: flex;
        flex-direction: row-reverse;
        width: 730px;
        margin-bottom: 20px;
    }

    &__box {
        border: 1px solid;
        transition: border-color 0.3s ease;
        transition: background-color 0.3s ease;
        @include theme-aware('border-color', 'content-outline');
        @include theme-aware('background', 'system-background-secondary');
        border-radius: 4px;
        margin-bottom: 2rem;
        margin-top: 0.15rem;
    }
}

.filter {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 2px solid #F2F2F7;
    width: 60%;

    &__form {
        margin: 0;
        justify-content: space-between; 
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__as {
        width: 300px;
        height: 44px;
        border-radius: 4px;
        border: 2px solid #F2F2F7;
    }

    &__header {
        font-weight: bold;
        padding-bottom: 10px;
    }

    &__selections {
        display: flex;
        flex-direction: column;
    }

    &__checkbox {
        padding: 3px 0px;
    }

    &__input {
        margin-right: 10px;
        margin-left: 1px;
    }

    &__label {
        transition: color 0.3s ease;
        @include theme-aware('color', 'color-text');
    }
}