.skills {
    margin: 0;
    width: 100vw;

    &__container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
        padding-top: 280px;
    }

    &__header {
        font-weight: bold;
    }

    &__content {
        justify-content: space-between;

        &--filter {
            width: 230px;
            margin: 0;
            position: sticky;
            top: 240px;
            height: calc(100vh - 280px);
            overflow: scroll;
        }

        &--skills {
            width: 730px;
        }
    }

    &__block {
        margin: 0;
    }

    &__action {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    &__button {
        width: 150px;
        height: 50px;
        background-color: #2E2E2E;
        border-radius: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 8px 0;

        &:hover {
            cursor: pointer;
        }
    }

    &__links {
        padding-inline-start: 0px;
        padding-bottom: 20px;
    }
}