.skills {
    margin: 0;
    width: 100vw;

    &__container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
        padding-top: 280px;
    }

    &__header {
        font-weight: bold;
    }

    &__content {
        justify-content: space-between;

        &--filter {
            width: 230px;
            margin: 0;
            position: sticky;
            top: 240px;
            height: calc(100vh - 280px);
            overflow: scroll;
        }

        &--skills {
            width: 730px;
        }
    }

    &__overview,
    &__block {
        margin-bottom: 4rem;

        & > h1,
        & > p {
            margin-bottom: 2rem;
        }

        & > h2,
        & > h3 {
            margin-bottom: 1rem;
        }
    }

    &__action {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    &__button {
        width: 150px;
        height: 50px;
        background-color: #2E2E2E;
        border-radius: 12px;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 8px 0;

        &:hover {
            cursor: pointer;
        }
    }

    &__links {
        padding-inline-start: 0px;
        padding-bottom: 20px;
    }

    &__slider {
        display: flex;
        flex-direction: row;
        width: 730px;
        overflow: hidden;
        height: 262px;
        margin: auto;
        justify-content: space-between;
    }

    &__slide {
        width: 730px;
        height: 262px;
        display: flex;
        flex-direction: row;
        //background-color: green;
        //margin: auto;
        justify-content: space-between;
    }

    &__certificate {
        background-position: center;
        width: 350px;
        height: 262px;
        border-radius: 4px;
        border: 2px solid #F2F3F7;
        overflow: hidden;
        color: white;
        margin: 0;

        &:nth-of-type(1) {
            margin-right: 15px;
        }
    }

    &__btn {
        background-color: white;
        outline: none;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__category {
        margin-left: 5px;
    }

    &__buttons {
        display: flex;
        flex-direction: row-reverse;
        width: 730px;
        margin-bottom: 20px;
    }

    &__icon {

        &--flip {
            transform: scaleX(-1);
        }
    }

    &__box {
        border: 1px solid #F2F3F7;
        border-radius: 4px;
        margin-bottom: 2rem;
        margin-top: 0.15rem;
    }
}

.filter {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 2px solid #F2F2F7;
    width: 60%;

    &__form {
        margin: 0;
        justify-content: space-between; 
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__input {
        width: 300px;
        height: 44px;
        border-radius: 4px;
        border: 2px solid #F2F2F7;
    }

    &__header {
        font-weight: bold;
    }

    &__selections {
        display: flex;
        flex-direction: column;
    }

    &__checkbox {
        padding: 3px 0px;
    }

    &__label {
        margin-right: 10px;
        margin-left: 1px;
    }

    &__reset {
        color: blue;

        &:hover {
            cursor: pointer;
        }
    }
}