@import "../../styles/baseline.scss";

.redirect {
    width: 100%;

    &__container {
        width: 100%;
        padding: 20px 20px;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        justify-content: space-between;
        margin: 60px 0;
        @include theme-aware('background', 'system-background-tertiary');
        box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 10px;
    }


    &__text {
        font-weight: bold;
    }

    &__cta {
        color: #007AFF
    }
}