@import "../../styles/baseline.scss";

.redirect {
    width: 100%;
    padding: 30px 0px 20px 20px;
    display: flex;
    flex-direction: row-reverse;
    margin: 60px 0;
    border-top: 2px solid;
    transition: border-color 0.3s ease;
    @include theme-aware('border-top-color', 'content-outline');

    &__text {
        font-weight: bold;
    }

    &__cta {
        @include theme-aware('color', 'link');
    }

    &__button {
        display: flex;
        flex-direction: row;

        &:hover {
            opacity: 0.8;
        }

        &:hover > svg {
            padding-right: 12px;
            padding-left: 0px;
            transform: 0.3 ease;
        }
    }

    &__chevron {
        transform: scaleX(-1);
        padding-right: 8px;
        padding-left: 4px;
        margin: auto 0rem;
        height: 12px;
        @include theme-aware('fill', 'link');
    }
}