@import "../../styles/baseline.scss";

.selector {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 60px 0px;

    @include tablet {
        flex-direction: row;
    }

    &__container {
        display: flex;
        width: 100%;

        @include tablet {
            width: 50%;
        }

        &--selected {
            height: 560px;
            position: relative;
        }

        &--content {
            flex-direction: column;
            align-self: center;
            width: 90%;

            @include tablet {
                width: 50%;
            }
        }
    }

    &__title {
        display: none;
        @extend h4;
        @include theme-aware('color', 'color-nav');

        @include tablet {
            margin-bottom: 15px;
            display: flex;
        }
    }

    &__button {
        display: flexbox;
        width: 100%;
        transition: height 0.3 ease-in-out;
        cursor: pointer;
        border-radius: 8px;
        text-align: center;
        justify-content: center;

        @include tablet {
            display: flexbox;
            width: auto;
        }

        &--active {
            padding: 11px 31px;
            transition: height 0.3 ease-in-out;
            background-color: rgba(0, 0, 0, 0.062);

            &:hover {
                background-color: rgba(0, 0, 0, 0.096);
            }
        }

        &--inactive {
            border: 1px solid rgba(0, 0, 0, 0.096);
            padding: 10px 30px;
            transition: height 0.3 ease-in-out;
            background-color: rgba(0, 0, 0, 0);

            &:hover {
                border: 1px solid rgba(0, 0, 0, 0.096);
                background-color: rgba(0, 0, 0, 0.034);
            }
        }
    }

    &__label {
        margin: auto 0;
    }

    &__selections {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin-top: 40px;
        justify-content: space-between;

        @include tablet {
            margin-top: 60px;
            justify-content: flex-start;
        }

        & > div {
            margin-right: 10px;
        }

        & > div:last-of-type {
            margin-right: 0px;
        }
    }

    &__project {
        font-size: 1.5rem;
    }

    &__redirect {
        height: 34px;
        padding: 10px 0px;
        margin: 8px 0px;
    }

    &__cta {
        @include theme-aware('color', 'link');
    }

    &__button {
        display: flex;
        flex-direction: row;

        &:hover {
            opacity: 0.8;
        }

        &:hover > svg {
            padding-right: 12px;
            padding-left: 0px;
            transform: 0.3 ease;
        }
    }

    &__expand {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    }

    &__chevron {
        transform: scaleX(-1);
        padding-right: 8px;
        padding-left: 4px;
        margin: auto 0rem;
        height: 12px;
        @include theme-aware('fill', 'link');
    }

    &__toggle {
        position: absolute;
        margin-top: 0px;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: none;
        outline: none;
        height: 80px;
        display: flex;
        justify-content: space-around;

        @include laptop-small {
            left: 0;
            justify-content: space-around;
        }
    }

    &__player {
        width: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}