@import "../../styles/baseline.scss";

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    transform: translateY(0);
    transition: transform 0 ease-in-out;
    transition: background-color 0.3s ease;
    @include theme-aware('background', 'system-background-primary');
    box-shadow: rgba(0, 0, 0, 0) 0px 10px 20px;
    z-index: 105;
    border-bottom: 1px solid;
    @include theme-aware('border-color', 'content-outline-light');

    @include tablet {
        border-bottom: 1px solid;
        border-bottom: none;
    }

    &.shadow {
        transition: background-color 0.3s ease;
        @include theme-aware('background', 'system-background-primary');
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        transition: transform 0 ease-in-out;
    }

    &__container {
        margin: 0 20px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        z-index: 105;
        transition: background-color 0.3s ease;
        //@include theme-aware('background', 'system-background-primary');

        @include tablet {
            margin: 0 60px;
        }

        @include laptop-small {
            margin: 0 100px;
        }

        @include laptop {
            width: 1000px;
            margin: 0 auto;
        }
    }

    &__section {
        display: flex;
        justify-content: space-between;
        //flex-direction: row-reverse;

        &--logo {
            margin: 0;

            @include laptop-small {
                width: 150px;
            }
        }

        &--nav {
            display: none;

            @include tablet {
                width: 400px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        width: 100%;

        & > li {
            //background-color: red;
            width: 90px;
        }
    }

    &__logo {
        padding: 1.5rem 0rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-family: Montserrat-Regular, sans-serif;
        //overflow: hidden;
        //max-width: 0.9ch;

        &.visible {
            color: #2E2E2E;
        }

        @include tablet {
            max-width: 75ch;
        }
    }

    &__dropdown {
        color: #2E2E2E;
        //color: white;
        opacity: 0.5;
        transition: all 0.2s ease 0s;
        padding: 1.5rem 0rem;
        width: 100px;
        height: 100%;
        display: flex;
        flex-direction: row;

        &:hover {
            opacity: 1.0;
            transition: all 0.2s ease 0s;
            cursor: pointer;
        }
    }

    &__drop {
        transition: 0.2s ease 0s;
        width: 14px;
        height: 14px;
        margin: auto 0;

        &--active {
            @include theme-aware('fill', 'dropdown');
            transition: 0.2s ease 0s;
            transform: scaleY(-1);
            opacity: 1;
            padding: 0px 0px 0px 4px;
        }

        &--inactive {
            @include theme-aware('fill', 'dropdown');
            opacity: 0.5;
            transition: 0.2s ease 0s;
            transform: scaleY(1);
            padding: 2px 0px 0px 4px;
        }
    }

    &__link {
        color: #2E2E2E;
        opacity: 0.5;
        transition: all 0.2s ease 0s;
        padding: 1.5rem 0rem;
        width: 100px;
        //height: 83px;

        &.black {
            color: #2E2E2E;
            opacity: 0.5;
        }

        &:hover {
            opacity: 1.0;
            transition: all 0.2s ease 0s;
        }
    }

    &__contact {
        padding: 0.75rem 2rem;
        border-radius: 6px;
        transition: color 0.3s ease;
        transition: background-color 0.3s ease;
        @include theme-aware('color', 'color-text-button');
        @include theme-aware('background-color', 'button');
        box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;

        &:hover {
            opacity: 0.8;
        }
    }

    &__cta {
        display: none;

        @include tablet {
            padding: 1.5rem 0rem;
            display: inline;
        }
    }

    &__overlay {
        background: rgba(0, 0, 0, .7);
        //opacity: 0.2;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 103;
    }
}

.dropdown {
    position: fixed;
    z-index: 104;
    width: 100vw;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
    @include theme-aware('background-color', 'system-background-secondary');
    @include theme-aware('border-color', 'content-outline-light');
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
    border-top: 1px solid;
    //border-bottom: 1px solid;
    transition: transform 3s ease;

    &--active {
        animation: out 0.3s;
        animation-fill-mode: forwards;

        @keyframes out {
            from { 
                margin-top: 0px; 
                height: 83px;
            };
            to { 
                margin-top: 83px;
                height: 300px;
            };
        }
    }

    &--inactive {
        animation: in 0.3s;
        animation-fill-mode: forwards;

        @keyframes in {
            from { 
                margin-top: 83px; 
                height: 100px;
            };
            to { 
                margin-top: 0px;
                height: 83px;
            };
        }
    }

    &__container {
        width: 768px;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        text-align: center;
        transition: all 0.2s ease 0s;

        @include laptop-small {
            width: 900px;
        }
    }

    &__item {
        transition: all 0.2s ease 0s;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        text-align: center;
        vertical-align: middle;
        padding: 18px 0;
        //background-color: red;

        &--single {
            width: 90%;
        }

        &--triple {
            width: 30%;
        }

        &--locked {
            opacity: 0.5;
        }
    }

    &__preview {
        width: 110px;
        margin: 0 20px;
        padding: 0 auto;
        display: flex;

        &--laptop {
            width: 380px;
        }
    }

    &__content {
        text-align: left;

        &--details {
            transition: background-color 0.3s ease;
            //@include theme-aware('background-color', 'system-background-secondary');
            //position: absolute;
            //width: 200px;
            display: flex;
            flex-direction: column;
            padding-top: auto 0;
            height: 80%;
            justify-content: center;
            //text-align: center;
            //margin-top: 140px;
            //box-shadow: -15px 0 15px -15px inset;
            //box-shadow: rgba(0, 0, 0, 0.08) 10px 0px 20px;

        }
    }

    &__project {
        font-weight: bold;
        @include theme-aware('color', 'color-text');
    }

    &__description {
        font-size: 0.825rem;
        line-height: 1.25rem;
        @include theme-aware('color', 'color-text-alt');

        &:hover {
            @include theme-aware('color', 'color-text');
        }
    }
}