@import "../../styles/baseline.scss";

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    transform: translateY(0);
    transition: transform 0 ease-in-out;
    @include theme-aware('background', 'color-background');
    box-shadow: rgba(0, 0, 0, 0) 0px 10px 20px;
    z-index: 105;

    &.shadow {
        @include theme-aware('background', 'color-background');
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        transition: transform 0 ease-in-out;
    }

    &__container {
        margin: 0 auto;
        //padding: 1.5rem 0rem;
        width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 105;
        @include theme-aware('background', 'color-background');
    }

    &__section {
        display: flex;
        flex-direction: row-reverse;

        &--logo {
            margin: 0;
        }

        &--nav {
            width: 400px;
            justify-content: space-between;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        width: 100%;
        justify-content: space-between;
    }

    &__spacing {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        width: 280px;
        justify-content: space-between;
        padding: 1.5rem 0rem;
    }

    &__logo {
        color: #2E2E2E;
        padding: 1.5rem 0rem;

        &.visible {
            color: #2E2E2E;
        }
    }

    &__dropdown {
        color: #2E2E2E;
        //color: white;
        opacity: 0.5;
        transition: all 0.2s ease 0s;
        padding: 1.5rem 0rem;
        width: 100px;

        &:hover {
            opacity: 1.0;
            transition: all 0.2s ease 0s;
            cursor: default;
        }
    }

    &__link {
        color: #2E2E2E;
        opacity: 0.5;
        transition: all 0.2s ease 0s;
        padding: 1.5rem 0rem;
        height: 83px;

        &.black {
            color: #2E2E2E;
            opacity: 0.5;
        }

        &:hover {
            opacity: 1.0;
            transition: all 0.2s ease 0s;
        }
    }
}

.dropdown {
    position: fixed;
    z-index: 104;
    width: 100vw;
    background-color: #F2F3F7;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    transition: all 0.2s ease 0s;
    //animation: mynewanimation 0.3s;
    transition: transform 3s ease;

    &--active {
        animation: out 0.3s;
        animation-fill-mode: forwards;

        @keyframes out {
            from { 
                margin-top: 0px; 
                height: 83px;
            };
            to { 
                margin-top: 83px;
                height: 100px;
            };
        }
    }

    &--inactive {
        animation: in 0.3s;
        animation-fill-mode: forwards;

        @keyframes in {
            from { 
                margin-top: 83px; 
                height: 100px;
            };
            to { 
                margin-top: 0px;
                height: 83px;
            };
        }
    }

    &__container {
        width: 600px;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        text-align: center;
        transition: all 0.2s ease 0s;
    }

    &__project {
        width: 30%;
        transition: all 0.2s ease 0s;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        vertical-align: middle;
        padding: 18px 0;

        &--locked {
            opacity: 0.5;
        }
    }

    &__icon {
        width: 35px;
        margin: 0 auto;
    }
}