.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    transform: translateY(0);
    transition: transform 0 ease-in-out;
    background-color: rgba($color: #ffffff, $alpha: 0.0);
    box-shadow: rgba(0, 0, 0, 0) 0px 10px 20px;
    z-index: 100;

    &.shadow {
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px;
        transition: transform 0 ease-in-out;
    }

    &__container {
        margin: 0 auto;
        padding: 1.5rem 0rem;
        width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__section {
        display: flex;
        flex-direction: row-reverse;

        &--logo {
            margin: 0;
        }

        &--nav {
            width: 300px;
            justify-content: space-between;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        width: 400px;
        justify-content: space-between;
    }

    &__logo {
        color: white;

        &.visible {
            color: #2E2E2E;
        }
    }

    &__link {
        color: white;
        opacity: 0.5;
        transition: all 0.2s ease 0s;

        &.black {
            color: #2E2E2E;
            opacity: 0.5;
        }

        &:hover {
            opacity: 1.0;
            transition: all 0.2s ease 0s;
        }
    }
}